<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->
    <!-- Angular Components  -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-app.js"></script>


    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase-functions.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-messaging.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://rawgit.com/VividCortex/angular-recaptcha/master/release/angular-recaptcha.js"></script>


  </head>

  <body ng-app="reportsManager">

    <div class="container" ng-controller="reportsCtrl">

        <div class="offenseSelect {{display[0]}}">
            <h1></h1>
            <fieldset class="offenseList" ng-model="offense" >
                <div class="radioSet" ng-repeat="x in supportedOffenses">
                    <input type="radio" ng-model="offense"  class="offenseIcon" value="{{x.name}}" id="{{x.name}}" name="offenseSelect"/>
                    <label for="{{x.name}}" ng-click="setoffense(x.name);">{{x.name}}</label>
                </div>
            </fieldset>
            <br>           
            <button class="nextBtn" type="next" ng-click="next('1', checkoffenseChoice)">Next</button>
        </div>

        <div class="reCaptcha {{display[1]}}">
            <h1>Please verify that you're human:</h1>
            <div
                vc-recaptcha
                theme="'light'"
                key='6LfdDHAUAAAAACB7yJbkHuE_1IFZmGMNKdJrVa9a' 
                on-create="setWidgetId(widgetId)"
                on-success="setResponse(response)"
                on-expire="cbExpiration()"
            ></div>

            <br>            
            <button class="nextBtn" type="next" ng-click="back('3')">Back</button> 
            <button class="nextBtn" type="next" ng-click="next('3', checkCaptcha)">Next</button>           
        </div>

        <div class="thanks {{display[2]}}">
            <h1>Thanks for your contribution.</h1>
            <p>People like you are the only thing keeping online trust intact.</p>
            
            <br>

            <button class="nextBtn" type="next" ng-click="done()" >Done</button> 
        </div>        

    </div>
  </body>


  <footer>
          <script type="text/javascript" src="form.js" defer></script>
  </footer>